.container{
    background-color: rgb(212, 244, 244);
    height: 111px;
    display: flex;
    justify-content: space-between;
    font-family: Instrument Sans, sans-serif;
   
   
}
.left{
    padding: 0.0rem 2rem;
    
}
.left>img{
    width: 200px;  
    margin-top: 20px;

}
.right{
    padding-right:  3rem;

padding-top: 1rem;
}
.right>div{
    display: flex;
    gap: 5px;
}
.right>div>div{
    display: flex;
   gap: 5px;
  
}
.rightbtn{
  
  color: white;
  background-color: rgb(23, 94, 248);
border-radius: 10px ;
font-size: 1rem;
  padding: .5rem 1rem;
font-weight: 600;
}
.right:nth-child(1)>span{
    margin-top: 10px;
    background-color: aqua;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
   
}
.infoIcon{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: rgb(177, 172, 172);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border: 2px solid black;
}
.rightoption{
   
  display: flex;
  justify-content: center;
  align-items: center;

}


@media screen and  (max-width: 490px) {

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
       
    }
    .left{
     padding: .5rem;
   
    }
    .left>img{
       width: 10rem;

       
    }
    .right{
        padding: .5rem;
    }
    .rightoption{
   
        display: flex;
        justify-content: center;
        align-items: center;
      flex-direction: column;
      }
      .infoIcon{
        vertical-align: middle;
      }
}
